<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="FeatureSwitcher" version="1.1.0" targetFramework="net45" />
  <package id="FluentAssertions" version="4.19.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common" version="15.112.1" targetFramework="net45" />
  <package id="Microsoft.TeamFoundationServer.Client" version="15.112.1" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Services.Client" version="15.112.1" targetFramework="net45" />
  <package id="Moq" version="4.7.99" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
</packages>